
*.layout
*.depend
*.obj
*.tlog
*.log
*.pdb
*.user
*.htm
*.lastbuildstate
*.ipch
*.suo
*.ncb
*.idb
*.manifest
*.res
*.ilk
*.sdf
*.opensdf
*.exe
*.lib
*.o
*.a
*.psess
*.unsuccessfulbuild
*.nativecodeanalysis.xml
*.rc
*.cache
*bison*
*flex*
